xsd/ForcedAcknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.4.0"
    xmlns:qt="http://roskazna.ru/gisgmp/xsd/Quittance/2.4.0"
    xmlns="urn://roskazna.ru/gisgmp/xsd/services/forced-ackmowledgement/2.4.0"
    targetNamespace="urn://roskazna.ru/gisgmp/xsd/services/forced-ackmowledgement/2.4.0"
    xmlns:ns1="http://roskazna.ru/gisgmp/xsd/Common/2.4.0"
    xmlns:ns2="http://roskazna.ru/gisgmp/xsd/Quittance/2.4.0">

    <xs:import namespace="http://roskazna.ru/gisgmp/xsd/Common/2.4.0"
        schemaLocation="commons/Common.xsd"/>
    <xs:import namespace="http://roskazna.ru/gisgmp/xsd/Quittance/2.4.0"
        schemaLocation="commons/Quittance.xsd"/>
    <xs:element name="ForcedAcknowledgementRequest">
        <xs:annotation>
            <xs:documentation>Запрос на проведение (отмену) принудительного квитирования/установление (отмену факта установления)
                извещению о приеме к исполнению распоряжения статуса "Услуга предоставлена"
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="com:RequestType">
                    <xs:choice>
                        <xs:element name="Reconcile">
                            <xs:annotation>
                                <xs:documentation>Принудительное квитирование начисления с платежами</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:choice>
                                    <xs:sequence>
                                        <xs:element maxOccurs="100" name="PaymentId"
                                            type="com:PaymentIdType">
                                            <xs:annotation>
                                                <xs:documentation>УИП</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:element fixed="true" name="PaymentNotLoaded">
                                        <xs:annotation>
                                            <xs:documentation>Появляется при квитировании с отсутствующим
                                                платежом
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:boolean">
                                                  <xs:attribute name="amountReconcile"
                                                  type="xs:unsignedLong">
                                                  <xs:annotation>
                                                  <xs:documentation>Сумма погашения, в копейках</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                                <xs:attribute name="supplierBillId" use="required">
                                    <xs:annotation>
                                        <xs:documentation>УИН</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:union memberTypes="com:SupplierBillIDType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:union>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnulmentReconcile">
                            <xs:annotation>
                                <xs:documentation>Отмена принудительного квитирования начисления с платежами</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:choice>
                                    <xs:sequence>
                                        <xs:element maxOccurs="100" name="PaymentId"
                                            type="com:PaymentIdType">
                                            <xs:annotation>
                                                <xs:documentation>УИП</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:element fixed="true" name="PaymentNotLoaded">
                                        <xs:annotation>
                                            <xs:documentation>Появляется при квитировании с отсутствующим
                                                платежом
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:boolean">
                                                  <xs:attribute name="reconcileID"
                                                  type="com:reconcileIDType">
                                                  <xs:annotation>
                                                  <xs:documentation>Номер операции принудительного квитирования начисления с отсутствующим в ГИС ГМП платежом (частичное погашение)</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                                <xs:attribute name="supplierBillId" use="required">
                                    <xs:annotation>
                                        <xs:documentation>УИН</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:union memberTypes="com:SupplierBillIDType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{15}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:union>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ServiceProvided">
                            <xs:annotation>
                                <xs:documentation>Установление платежу признака "Услуга предоставлена"</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="100" name="PaymentDataInfo">
                                        <xs:annotation>
                                            <xs:documentation>Информация о платеже</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence minOccurs="0">
                                                <xs:element name="ServiceData"
                                                  type="com:ServiceDataType">
                                                  <xs:annotation>
                                                  <xs:documentation>Дополнительные сведения о предоставлении услуги/ об учете платежа</xs:documentation>
                                                  </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="paymentId" type="com:PaymentIdType"
                                                use="required">
                                                <xs:annotation>
                                                  <xs:documentation>УИП</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AnnulmentServiceProvided">
                            <xs:annotation>
                                <xs:documentation>Отмена факта установления платежу признака "Услуга
                                    предоставлена"
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="100" name="PaymentDataID">
                                        <xs:annotation>
                                            <xs:documentation>Сведения об идентификаторах платежа</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:attribute name="paymentId" type="com:PaymentIdType"
                                                use="required">
                                                <xs:annotation>
                                                  <xs:documentation>УИП</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="serviceDataID" use="optional"
                                                type="com:serviceDataIDType">
                                                <xs:annotation>
                                                  <xs:documentation>Идентификатор информации об учете факта оплаты. Заполняется в случае отмены частичного учета факта оплаты.</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="originatorId" type="com:URNType">
                        <xs:annotation>
                            <xs:documentation>УРН участника косвенного взаимодействия, сформировавшего запрос</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ForcedAcknowledgementResponse">
        <xs:annotation>
            <xs:documentation>Ответ на запрос на проведение (отмену) принудительного квитирования/установление (отмену факта
                установления) извещению о приеме к исполнению распоряжения статуса "Услуга предоставлена"
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="com:ResponseType">
                    <xs:choice>
                        <xs:sequence>
                            <xs:element maxOccurs="100" name="Quittance">
                                <xs:annotation>
                                    <xs:documentation>Результат принудительного квитирования (квитанция)</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="ns2:QuittanceType">
                                            <xs:attribute name="reconcileID"
                                                type="com:reconcileIDType">
                                                <xs:annotation>
                                                  <xs:documentation>Номер операции принудительного квитирования начисления с отсутствующим в ГИС ГМП платежом</xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:element name="Done" fixed="true">
                            <xs:annotation>
                                <xs:documentation>Присутствует в случае успешного выполнения следующих операций: - Отмена
                                    принудительного квитирования начисления с платежами; - Установление платежу признака "Услуга
                                    предоставлена"; - Отмена факта установления платежу признака "Услуга
                                    предоставлена".
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:boolean">
                                        <xs:attribute name="serviceDataID"
                                            type="com:serviceDataIDType">
                                            <xs:annotation>
                                                <xs:documentation>Идентификатор информации об учете платежа
                                                    
                                                    Присутствует в случае указания в запросе на установление платежу признака «Услуга предоставлена» блока данных «Дополнительные сведения о предоставлении услуги/об учете платежа»</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
