xsd/NoticeCharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:org="http://roskazna.ru/gisgmp/xsd/Organization/2.4.0"
	xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.4.0"
	targetNamespace="http://roskazna.ru/gisgmp/xsd/NoticeCharge/2.4.0"
	elementFormDefault="qualified" xmlns:nc="http://roskazna.ru/gisgmp/xsd/NoticeCharge/2.4.0">
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Organization/2.4.0"
		schemaLocation="Organization.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Common/2.4.0" schemaLocation="Common.xsd"/>
	<xsd:complexType name="NoticeChargeType">
		<xsd:annotation>
			<xsd:documentation>Данные уведомления о начислении </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Payee" type="org:OrganizationType">
				<xsd:annotation>
					<xsd:documentation>Данные организации, являющейся получателем средств</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Payer">
				<xsd:annotation>
					<xsd:documentation>Сведения о плательщике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="com:PayerType">
							<xsd:attribute name="payerName" use="required">
								<xsd:annotation>
									<xsd:documentation>Плательщик</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="160"/>
										<xsd:pattern value="\S+([\S\s]*\S+)*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="additionalPayerIdentifier">
								<xsd:annotation>
									<xsd:documentation>Дополнительный идентификатор плательщика</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="com:PayerIdentifierType">
										<xsd:pattern
											value="(1((0[1-9])|(1[0-5])|(2[1245689])|(3[0]))[0-9a-zA-Zа-яА-Я]{19})|(200\d{14}[A-Z0-9]{2}\d{3})|300[0-9a-zA-Zа-яА-Я]{19}|(4[0]{9}\d{12})"
										/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="com:ChangeStatusInfo"/>
			<xsd:element minOccurs="0" ref="com:Discount">
				<xsd:annotation>
					<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="EventNotification">
				<xsd:annotation>
					<xsd:documentation>Код события для направления уведомлении о начислении</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="supplierBillID" use="required">
			<xsd:annotation>
				<xsd:documentation>УИН</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="com:SupplierBillIDType">
					<xsd:pattern value="(\w{20})|(\d{25})"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="billDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время начисления суммы денежных средств, подлежащих уплате</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUntil" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата, вплоть до которой актуально выставленное начисление</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="paymentTerm" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Срок оплаты начисления в соответствии с нормативным правовым (правовым)актом</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма начисления (в копейках)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="purpose" use="required">
			<xsd:annotation>
				<xsd:documentation>Назначение платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					<xsd:maxLength value="210"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType" use="required">
			<xsd:annotation>
				<xsd:documentation>КБК</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType" use="required">
			<xsd:annotation>
				<xsd:documentation>Код по ОКТМО, указываемый АН или ГАН в соответствии с НПА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="chargeOffense" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>Признак автоматической фиксации факта правонарушения, зафиксированного с применением средств фото (видео) фиксации</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amountToPay" type="xsd:long" use="required">
			<xsd:annotation>
				<xsd:documentation>Остаток суммы подлежащей оплате, указанной в начислении (в
					копейках). При переплате начисления принимает отрицательное значение; при
					полной оплате — значение «0».
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

		<xsd:attribute name="acknowledgmentStatus" type="com:AcknowledgmentStatusType">
			<xsd:annotation>
				<xsd:documentation>Статус присвоенный начислению при создании квитанции
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="NoticeChargeExecutiveType">
		<xsd:annotation>
			<xsd:documentation>Данные уведомления о начислении </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="org:Payee"/>
			<xsd:element name="Payer">
				<xsd:annotation>
					<xsd:documentation>Сведения о плательщике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="com:PayerType">
							<xsd:attribute name="payerName" use="required">
								<xsd:annotation>
									<xsd:documentation>Плательщик</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="160"/>
										<xsd:pattern value="\S+([\S\s]*\S+)*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="additionalPayerIdentifier">
								<xsd:annotation>
									<xsd:documentation>Дополнительный идентификатор плательщика</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="com:PayerIdentifierType">
										<xsd:pattern
											value="(1((0[1-9])|(1[0-5])|(2[1245689])|(3[0]))[0-9a-zA-Zа-яА-Я]{19})|(200\d{14}[A-Z0-9]{2}\d{3})|300[0-9a-zA-Zа-яА-Я]{19}|(4[0]{9}\d{12})"
										/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BudgetIndex" type="com:BudgetIndexType">
				<xsd:annotation>
					<xsd:documentation>Дополнительные реквизиты платежа, предусмотренные приказом Минфина России от 12 ноября 2013 г. №107н</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="ExecutiveProcedureInfo"
				type="com:ExecutiveProcedureInfoType">
				<xsd:annotation>
					<xsd:documentation>Информация, необходимая для  осуществления исполнительного производства </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="com:ChangeStatusInfo"/>
			<xsd:element minOccurs="0" ref="com:Discount">
				<xsd:annotation>
					<xsd:documentation>Дополнительные условия оплаты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="supplierBillID" use="required">
			<xsd:annotation>
				<xsd:documentation>УИН</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="com:SupplierBillIDType">
					<xsd:pattern value="(\w{20})|(\d{25})"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="billDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Дата и время начисления суммы денежных средств, подлежащих уплате</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="validUntil" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата, вплоть до которой актуально выставленное начисление</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="paymentTerm" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Поле номер 19: Срок оплаты начисления в соответствии с нормативным правовым (правовым)
					актом</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalAmount" type="xsd:unsignedLong" use="required">
			<xsd:annotation>
				<xsd:documentation>Сумма начисления (в копейках)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="purpose" use="required">
			<xsd:annotation>
				<xsd:documentation>Назначение платежа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					<xsd:maxLength value="210"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType" use="required">
			<xsd:annotation>
				<xsd:documentation>КБК</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType" use="required">
			<xsd:annotation>
				<xsd:documentation>Код по ОКТМО, указываемый АН или ГАН в соответствии с НПА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="chargeOffense" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>Признак автоматической фиксации факта правонарушения, зафиксированного с применением средств фото (видео) фиксации</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amountToPay" type="xsd:long" use="required">
			<xsd:annotation>
				<xsd:documentation>Остаток суммы подлежащей оплате, указанной в начислении (в
					копейках). При переплате начисления принимает отрицательное значение; при
					полной оплате — значение «0».
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

		<xsd:attribute name="acknowledgmentStatus" type="com:AcknowledgmentStatusType">
			<xsd:annotation>
				<xsd:documentation>Статус, присвоенный начислению при создании квитанции
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
